@use 'theme';
@use 'constants/colors';

@import 'constants/sizes';

html,
body {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

button {
  all: unset;
  cursor: pointer;
}

main {
  margin: 0 $global-horizontal-padding;
  padding-bottom: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 40px;
}

#login-form {
  display: flex;
  flex-direction: column;

  & label span {
    display: inline-block;
    width: 60px;
    margin: 4px 0;
  }

  & input[type='submit'] {
    width: 100px;
    margin-top: 8px;
  }
}

@media (prefers-color-scheme: no-preference) {
  $scheme: no-preference;

  @include theme.theme($scheme);
}

@media (prefers-color-scheme: light) {
  $scheme: light;

  @include theme.theme($scheme);
}

@media (prefers-color-scheme: dark) {
  $scheme: dark;

  @include theme.theme($scheme);
}
